body {
  background-color: white;
}
.Product {
  border: 1px solid black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: beige;
  color: black;
  margin-left: 20px;
  width: 23vw;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    height: 25vh;
}

ul {
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  width: 535%;
}
li {
  list-style: none;
  font-size: 22px;
}

.dis {
  color: red;
  text-shadow: 1px 0px 1px red;
}
#p {
  color: black;
  font-size: 12px;
  background-color: yellow;
  height: 30px;
  display: inline;
  padding: 0px 5px;
}
h2{
  color: black;
  text-align: center;
}